version: "3.9"

services:
  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6380:6379"
    volumes:
      - redis-data:/data
    networks:
      - app_net

  api:
    build:
      context: ./docker/docker-php8.2
    restart: unless-stopped
    depends_on:
      - redis
    ports:
      - "8080:80"
    volumes:
      - ./app:/var/www
    environment:
      REDIS_URL: redis://redis:6379
    networks:
      - app_net

networks:
  app_net:
    driver: bridge

volumes:
  redis-data: